.open_toggle {
    background-color: rgb(59, 82, 212);
    border-radius: 100px;
    color: black;
    font-size: 20px;
    width: 150px;
    height: 60px;
    display: flex;
    padding-top: 14px;
    padding-left: 40px;
}

.popup {
    margin-top: 50px;
}

.arrow {
    padding: px;
    font-size: 20px;
}