.rememberMe {
    width: 100px;
    font-size: 100px;
}

.login-item {
    border-radius: 17px;
    display: flex;
    margin-left: 160px;
    padding: 14px;
    background-color: greenyellow;
    border: 1px;
}